div.row-fluid
  div.span9
    div#map.mapBounds
    script(type='text/javascript')
      $(function(){
        socket.emit('sub', '#{key}');
      });
      $(window).resize(function() {
        resize();
      });
      $(document).ready( function(){
        resize();
        var opts = {
          center: new google.maps.LatLng(37.062482, -95.677139),
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map( document.getElementById("map"), opts );

        if (navigator.geolocation != undefined) {
          navigator.geolocation.watchPosition(positionUpdate, positionUpdateFail);
          $('form').append('<input type="button" value="Center map where I am" onClick="if(bubbleLoc!=null){map.panTo(bubbleLoc)}"/>');
        }
      });

  div.span3
    h1= key
    p
      | This is some info about the map on this page. It is an optional description the user can
      | add to the group of points on this map.
