h1= title
div#content
div#map.mapBounds
form(name="subscribeForm")
  input(name="channel");
  input(type="button", value="subscribe", onClick="socket.emit('sub',document.forms[0].channel.value)")
  input(type="button", value="unsubscribe", onClick="socket.emit('unsub',document.forms[0].channel.value)")

script(type='text/javascript')
  var map;
  var markers = new Array();
  var colors = [ '#f00', '#00f', '#0f0' ];

  $(document).ready( function(){
    var opts = {
      center: new google.maps.LatLng(42.360202816455384,-71.08714687838953),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map( document.getElementById("map"), opts );
  });

  var socket = io.connect();
  socket.on('info', function (data) {
    $( '#content' ).html('info: ' + data);
  });

  socket.emit('sub', 'abc');
  socket.emit('sub', 'bcd');

  socket.on('data', function (data) {
    for ( var id in data ) {
      var o = data[id];
      var marker = null;
      var polyline = null;
      var info = null;
      var pos = new google.maps.LatLng(o.latitude, o.longitude);

      for (i=0; i<markers.length && marker == null; i++)
        if (markers[i].id == id) {
          marker = markers[i].marker;
          polyline = markers[i].polyline;
          info = markers[i].info;

      }

      if ( marker == null ) {
        marker = new google.maps.Marker({
          map: map,
          position: pos,
          clickable: true,
          animation: google.maps.Animation.DROP
        });

        var polyOpts = {strokeColor:colors[markers.length % colors.length], strokeOpacity:1.0, strokeWeight:2, map:map};
        polyline = new google.maps.Polyline(polyOpts);
        info = new google.maps.InfoWindow();

        var m = new Object( );
        m.id = id;
        m.marker = marker;
        m.polyline = polyline;
        m.info = info;
        markers.push(m);

      }

      google.maps.event.addListener(marker, 'click', function() {
          info.open(map, marker);
      });
      marker.setPosition(pos);
      polyline.getPath().push(pos);
      info.setContent('<h1>'+id+'</h1>'+o.latitude+', '+o.longitude);
      info.setPosition(pos);
      $('#content').html(id + ' - ' + o.latitude + ' : ' + o.longitude);
    }
  });
