h1= title
div#content
div#map.mapBounds
form
  input(name="channel");
  input(type="button", value="Subscribe", onClick="socket.emit('sub',document.forms[0].channel.value)")
  input(type="button", value="Unsubscribe", onClick="socket.emit('unsub',document.forms[0].channel.value)")

script(type='text/javascript')
  var map;
  var markers = new Array();
  var colors = [ '#f00', '#00f', '#0f0' ];
  var bubble = null;
  var bubbleLoc = null;

  $(document).ready( function(){
    var opts = {
      center: new google.maps.LatLng(42.360202816455384,-71.08714687838953),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map( document.getElementById("map"), opts );

    if (navigator.geolocation != undefined) {
      navigator.geolocation.watchPosition(positionUpdate, positionUpdateFail);
      $('form').append('<input type="button" value="Center map where I am" onClick="if(bubbleLoc!=null){map.panTo(bubbleLoc)}"/>');
    }
  });

  var socket = io.connect();
  socket.on('info', function (data) {
    $( '#content' ).html('info: ' + data);
  });

  socket.emit('sub', 'abc');
  socket.emit('sub', 'xyz');

  socket.on('data', function (data) {
    for ( var id in data ) {
      var o = data[id];
      var marker = null;
      var polyline = null;
      var info = null;
      var pos = new google.maps.LatLng(o.latitude, o.longitude);

      for (i=0; i<markers.length && marker == null; i++)
        if (markers[i].id == id) {
          marker = markers[i].marker;
          polyline = markers[i].polyline;
          info = markers[i].info;

      }

      if ( marker == null ) {
        marker = new google.maps.Marker({
          map: map,
          position: pos,
          clickable: true,
          animation: google.maps.Animation.DROP
        });

        var polyOpts = {strokeColor:colors[markers.length % colors.length], strokeOpacity:1.0, strokeWeight:2, map:map};
        polyline = new google.maps.Polyline(polyOpts);
        info = new google.maps.InfoWindow();

        var m = new Object( );
        m.id = id;
        m.marker = marker;
        m.polyline = polyline;
        m.info = info;
        markers.push(m);

      }

      google.maps.event.addListener(marker, 'click', function() {
          info.open(map, marker);
      });
      marker.setPosition(pos);
      polyline.getPath().push(pos);
      info.setContent('<h1>'+id+'</h1>'+o.latitude+', '+o.longitude);
      info.setPosition(pos);
      $('#content').html(id + ' - ' + o.latitude + ' : ' + o.longitude);
    }
  });

  function positionUpdate(l){
    bubbleLoc = new google.maps.LatLng(l.coords.latitude, l.coords.longitude);
    if (bubble == null) {
      bubble = new google.maps.Marker({
        map: map,
        position: bubbleLoc,
        icon:new google.maps.MarkerImage('/images/bubble.png', null, null, 
                                         new google.maps.Point(9,9), 
                                         new google.maps.Size(18,18)),
        clickable: false
      });
    }
    else {
      bubble.setPosition(bubbleLoc);
    }
  }

  function positionUpdateFail(e){
    console.log(e.message);
  }
