div.row-fluid
  div.span9
    div#map.mapBounds
    script(type='text/javascript')
      $(window).resize(function() {
        resize();
      });
      $(function(){
        socket.emit('sub', 'ISS');
        socket.emit('subs');
      });
      $(document).ready( function(){
        resize();
        var opts = {
          center: new google.maps.LatLng(37.062482, -95.677139),
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map( document.getElementById("map"), opts );

        if (navigator.geolocation != undefined) {
          navigator.geolocation.watchPosition(positionUpdate, positionUpdateFail);
        }
      });

  div.span3
    h1 EyeZo
    p
      | EyeZo lets you track things on maps in realtime. For example, this page lets you see the ground track of
      | the International Space Station.
    p
      | The International Space Station (ISS) is a habitable artificial satellite in low Earth orbit. It follows 
      | the Salyut, Almaz, Skylab and Mir stations as the ninth space station to be inhabited. The ISS is a modular
      | structure whose first component was launched in 1998. Like many artificial satellites, the station can be 
      | seen from Earth with the naked eye.
    form(id='control', onSubmit="socket.emit('sub',$('#control input[name=channel]').val());socket.emit('subs');return(false);")
      input(name='channel').input-small
      input(type='button', value='Add', onClick="socket.emit('sub',$('#control input[name=channel]').val());socket.emit('subs');")
      h4 Center On:
      ul#centerList
