div.row-fluid
  div.span9
    div#map.mapBounds
    script(type='text/javascript')
      $(window).resize(function() {
        resize();
      });

      $(document).ready( function(){
        resize();

        var opts = {
          center: new google.maps.LatLng(37.062482, -95.677139),
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map( document.getElementById("map"), opts );

        socket.onSubs = function(data){
          $('#centerList li').remove();
          $('#centerList').append( $('<li>').append( $('<input>').attr('type','radio').attr('name','centerOn').attr('value','none').attr('checked',true)).append(' None'));
          $('input:radio[name=centerOn]').last().change(function(){
            centerOn = -1;
          });
        }

        socket.onEachSub = function(data){
          $('#centerList').append( $('<li>').append( $('<input>').attr('type','radio').attr('name','centerOn').attr('value',data) ).append(' '+data+' ').append( $('<a>').attr('href','#').attr('onClick','socket.emit("unsub","'+data+'");socket.emit("subs");').append('x')));
          $('input:radio[name=centerOn]').last().change(function(){
              centerOn = $('input:radio[name=centerOn]:checked').val();
          });
          if (centerOn == data)
            $('input:radio[name=centerOn]').last().attr('checked',true);
        };

        socket.emit('sub', 'ISS');
	centerOn = 0;
        socket.emit('subs');

      });

  div.span3
    h1 EyeZo
    p
      | EyeZo lets you track things on maps in realtime. For example, this page lets you see the ground track of
      | the International Space Station.
    p
      | The International Space Station (ISS) is a habitable artificial satellite in low Earth orbit. It follows 
      | the Salyut, Almaz, Skylab and Mir stations as the ninth space station to be inhabited. The ISS is a modular
      | structure whose first component was launched in 1998. Like many artificial satellites, the station can be 
      | seen from Earth with the naked eye.
    form(id='control', onSubmit="socket.emit('sub',$('#control input[name=channel]').val());socket.emit('subs');return(false);")
      input(name='channel').input-small
      input(type='button', value='Add', onClick="socket.emit('sub',$('#control input[name=channel]').val());socket.emit('subs');")
      h4 Center On:
      ul#centerList
