!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/mapTest.js')
    //script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
  body!= body
